{% load staticfiles %}
<html>
    <head>
        <title>controle de Estoque</title>
        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/bootstrap-theme.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/css.css' %}">
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
        <link rel="stylesheet" href="{% static 'css/jquery-ui.css' %}">

        <script src="{% static 'js/jquery-1.12.4.js' %}"></script>
        <script src="{% static 'js/jquery-ui.js' %}"></script>
    </head>
    <body>
        <div class="page-header">
            <a href="{% url 'estoque.views.index' %}" class="top-menu"><div class="btVoltar"></div></a>
            <h1><a href="/" id="texto_topo"></a></h1>
        </div>

        <div class="content container">
            <div class="">
                <div class="">
                {% block content %}
                {% endblock %}
                </div>
            </div>
        </div>
    </body>
</html>