{% load staticfiles %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	
	<title>Gerenciador</title>
	
    <link rel="stylesheet" href="{% static 'css/css.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

    <link type="text/css" rel="stylesheet" href="{% static 'css/animated-menu.css' %}" />
	
	<script type="text/javascript" src="{% static 'js/jquery-1.4.4.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/jquery.easing.1.3.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/animated-menu.js' %}"></script>
	
</head>

<body>
	<div class="centraliza_res">
		<div id="topo">
			<div class="img_topo"></div>
		</div>
		
		<div>
			<ul>
				
				<a href="{% url 'estoque.views.produtos_list' %}">
					<li class="green">
						<p class="titulo">Lista de produtos</p>
						<p class="subtext">Listagem contendo todos os produtos disponiveis no sistema.</p>
					</li>
				</a>
				<a href="{% url 'estoque.views.produto_new' %}">
					<li class="yellow">
						<p class="titulo">Cadastro de produtos</p>
						<p class="subtext">Formulário para inserir novos produtos.</p>
					</li>
				</a>
				<a href="{% url 'estoque.views.compra' %}">
					<li class="red">
						<p class="titulo">Compra de Produtos</p>
						<p class="subtext">Formulário para compra de novos produtos.</p>
					</li>
				</a>
                <a href="{% url 'estoque.views.compras_list' %}">
					<li class="blue">
						<p class="titulo">Listagem de Compras</p>
						<p class="subtext">Listagem dos produtos comprados separados por compra.</p>
					</li>
				</a>
			</ul>
		</div>
	</div>
</body>
</html>
