{% extends 'estoque/base.html' %}

{% block content %}
    <script>
        $(document).ready(function(){
            $("#texto_topo").html('Lista de Produtos');
        });
    </script>
<div class="container">
    <div class="table-responsive">          
        <table id="list" class="table table-hover table-bordered table-striped">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Produto</th>
                    <th>Data Inclusão</th>
                </tr>
            </thead>
            <tbody>
                {% for produto in produtos %}
                    <tr class="produto">
                        <td class="date">{{ produto.id }}</td>
                        <td>{{ produto.strProduto }}</td>
                        <td>{{ produto.dtCriacao|date:"d/m/Y" }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock content %}