body{
	font-family:"Lucida Grande", arial, sans-serif !important;
}

ul{
	margin:0;
	padding:0;
}

li{
	width:200px;
	height:60px;
	margin: 0 10px 0 0;
	float:left;
	color:#191919;
	text-align:center;
	overflow:hidden;
}

.titulo {
	color:#FFF;
	text-decoration:none;
}

p{
	padding:0px 5px;
}

	.subtext{
		padding-top:15px;
	}

.img_topo {
	height: 125px;
}

.green{background:#6AA63B;}
.yellow{background:#FBC700;}
.red{background:#D52100;}
.purple{background:#5122B4;}
.blue{background:#0292C0;}